opencv-python
-f https://download.pytorch.org/whl/torch_stable.html

opencv-python
opencv-contrib-python
pycuda
torch==1.4.0, !=1.4.0+cu92, !=1.4.0+cpu
torchvision==0.5.0, !=0.5.0+cu92, !=0.5.0+cpu
pandas
matplotlib
imutils
scikit-image
numpy
sklearn
